/* sets the font for the whole page */
* {
  font-family: sans-serif;
}

/* sets the background color of page */
body {
  background-color: #f9fbfd;
}

/*sets style of text area where generated passowrd is displated. including dimencions, padding and border style */
#password {
  height: 100%;
  width: 100%;
  min-height: 100px;
  display: block;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(192, 199, 207);
  border-image: initial;
  border-radius: 6px;
  text-align: center;
  padding-top: 30px; 
}

/* sets style of generate button including margins, padding, text alignment, courser chaange, rounded corners */
#generate {
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
}

/* hides the user input options until changed later by jquery to display on initial click as per clients request */
#userInputs {
  display: none;
}

