* {
  font-family: sans-serif;
}


main {
  background-color: #f9fbfd;
  height: 2000px;
}

#password {
  height: 100%;
  width: 100%;
  min-height: 100px;
  display: block;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(192, 199, 207);
  border-image: initial;
  border-radius: 6px;
  text-align: center;
  padding-top: 30px;
  
}

#generate {
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  cursor: pointer;
}

#userInputs {
  display: none;

}